nav {
  display: block;
}

nav ul {
  display: block;
  list-style-type: none;
  
  @media (min-width: 740px) {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

nav ul li {
  display: block;
  @media (min-width: 740px) {
    display: table-cell;
    padding: 0 1rem;
    vertical-align: middle;
  }
}


